@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

header {
    height: 100vh;
    background: url(./images/banner/banner3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.section-content {
    width: 500px;
    text-align: right;
}

.header-content-title {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: normal;
}

.header-content-description {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-praimary {
    color: #005FAC;
    background: #FFF;
    border: 2px solid #005FAC;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 12px;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-praimary:hover {
    color: #fff;
    background: #005FAC;
    border: 2px solid #fff;
}

/* My failures of previous year Section  */
.previous-year-section {
    width: 100%;
    display: flex;
    padding: 100px 150px;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.coloumn {
    width: 50%;
}


.coloumn .previous-section-title {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.previous-section-description {
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.list-item {
    list-style-type: square;
}
.list-item li{
    margin-bottom: 10px;
    list-style: none;
}

.list-item li::before {
    content: '\2713';
    display: inline-block;
    color: #299B48;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
}


/* My Plans Section  */

.my-plan {
    margin: 100px 200px;
}

.my-plan-header-title {
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
}

.my-plan-container {
    display: flex;
    justify-content: space-between;
}

.my-plan-box {
    text-align: center;
}
.my-plan-box .plan-box-image{
    width: 90px;
    height: 90px;
}

.my-plan-box-title {
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
}

.my-plan-box-description {
    color: #737272;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}

/* Awlays keep a positive mindset Section  */

.positive-mindset-banner-section {
    margin: 150px;
}

.positive-mindset-content {
    width: 100%;
    height: 300px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url(./images/watch.png), url(./images/gradient1.png);
    
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding: 60px 50px 0px;
}

.positive-banner-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.positive-banner-btn {
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #FFF;
    padding: 13px 20px;
    font-size: 18px;
    margin-top: 20px;
    color: #005FAC;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s;
}

.positive-banner-btn:hover {
    border: 1px solid #fff;
    color: #fff;
    background: #005FAC;

}


/* Footer Section  */

.footer-container {
    min-height: 400px;
    background: #151414;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-column {
    max-width: 450px;
    padding: 20px 30px;
}

/* Footer left side  */
.footer-left-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}

.footer-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 15px 0;
}

.footer-email {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer-mobile {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer-social-media-icon{
    display: flex;
}

.footer-social-media-icon img{
    margin-right: 10px;
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border: 1px dotted #151414;
    border-radius: 50%;
    padding: 2px;
    transition: all 0.3s;
}

.footer-social-media-icon img:hover{
    border: 1px dotted #fff;
}

/* Footer right side  */

.footer-right-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}

.footer-email-box {
    outline: none;
    border: 1px solid #FFF;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 20px 0 10px;
    font-size: 15px;
}

.footer-email-sumbit-btn {
    outline: none;
    min-width: 80px;
    border: 1px solid #005FAC;
    background: #005FAC;
    color: #FFF;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.footer-email-sumbit-btn:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #005FAC;
}