@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

header {
    width: 100vw;
    height: 100vh;
    background: url(./images/banner/banner3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.section-content {
    width: 500px;
    text-align: right;
}

.header-content-title {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: normal;
}

.header-content-description {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-praimary {
    color: #005FAC;
    background: #FFF;
    border: 2px solid #005FAC;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 12px;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-praimary:hover {
    color: #fff;
    background: #005FAC;
    border: 2px solid #fff;
}